.clickable-trait {
  cursor: pointer;
}
.link-trait {
  cursor: pointer;
}
@media (hover: hover) {
  .link-trait:hover {
    opacity: 1;
    color: #6F7F00;
    fill: #6F7F00;
    text-decoration: underline;
  }
  .link-trait:not(:hover) {
    text-decoration: none;
  }
}
@media (hover: none) {
  .link-trait {
    text-decoration: none;
  }
}
.monospace-trait {
  font-family: monospace;
}
.positive-foreground-coloring-trait {
  color: #000022;
  fill: #000022;
}
@media (prefers-color-scheme: dark) {
  .positive-foreground-coloring-trait {
    color: #FFFFFF;
    fill: #FFFFFF;
  }
}
.positive-background-coloring-trait {
  background-color: #FFFFFF;
}
@media (prefers-color-scheme: dark) {
  .positive-background-coloring-trait {
    background-color: #000022;
  }
}
.negative-foreground-coloring-trait {
  color: #FFFFFF;
  fill: #FFFFFF;
}
@media (prefers-color-scheme: dark) {
  .negative-foreground-coloring-trait {
    color: #000022;
    fill: #000022;
  }
}
.primary-operator-coloring-trait {
  cursor: pointer;
  color: #FFFFFF;
  fill: #FFFFFF;
}
@media (prefers-color-scheme: dark) {
  .primary-operator-coloring-trait {
    color: #000022;
    fill: #000022;
  }
}
@media (hover: hover) {
  .primary-operator-coloring-trait:not(:hover) {
    border-color: #5F42A7;
    background-color: #5F42A7;
  }
  .primary-operator-coloring-trait:hover {
    border-color: #6F7F00;
    background-color: #6F7F00;
  }
}
@media (hover: none) {
  .primary-operator-coloring-trait {
    border-color: #5F42A7;
    background-color: #5F42A7;
  }
}
.secondary-operator-coloring-trait {
  cursor: pointer;
}
@media (hover: hover) {
  .secondary-operator-coloring-trait:not(:hover) {
    color: #5F42A7;
    fill: #5F42A7;
    border-color: #5F42A7;
    background-color: #FFFFFF;
  }
  .secondary-operator-coloring-trait:hover {
    color: #FFFFFF;
    fill: #FFFFFF;
    border-color: #6F7F00;
    background-color: #6F7F00;
  }
}
@media (hover: hover) and (prefers-color-scheme: dark) {
  .secondary-operator-coloring-trait:not(:hover) {
    background-color: #000022;
  }
}
@media (hover: hover) and (prefers-color-scheme: dark) {
  .secondary-operator-coloring-trait:hover {
    color: #000022;
    fill: #000022;
  }
}
@media (hover: none) {
  .secondary-operator-coloring-trait {
    color: #5F42A7;
    fill: #5F42A7;
    border-color: #5F42A7;
    background-color: #FFFFFF;
  }
}
@media (hover: none) and (prefers-color-scheme: dark) {
  .secondary-operator-coloring-trait {
    background-color: #000022;
  }
}
.tertiary-operator-coloring-trait {
  cursor: pointer;
}
@media (hover: hover) {
  .tertiary-operator-coloring-trait:hover {
    color: #6F7F00;
    fill: #6F7F00;
  }
}
.delete-operator-coloring-trait {
  cursor: pointer;
}
@media (hover: hover) {
  .delete-operator-coloring-trait:not(:hover) {
    color: #831B50;
    fill: #831B50;
    border-color: #831B50;
    background-color: #FFFFFF;
  }
  .delete-operator-coloring-trait:hover {
    color: #FFFFFF;
    fill: #FFFFFF;
    border-color: #831B50;
    background-color: #831B50;
  }
}
@media (hover: hover) and (prefers-color-scheme: dark) {
  .delete-operator-coloring-trait:not(:hover) {
    background-color: #000022;
  }
}
@media (hover: hover) and (prefers-color-scheme: dark) {
  .delete-operator-coloring-trait:hover {
    color: #000022;
    fill: #000022;
  }
}
@media (hover: none) {
  .delete-operator-coloring-trait {
    color: #831B50;
    fill: #831B50;
    border-color: #831B50;
    background-color: #FFFFFF;
  }
}
@media (hover: none) and (prefers-color-scheme: dark) {
  .delete-operator-coloring-trait {
    background-color: #000022;
  }
}
* {
  font-family: ui-sans-serif, "ヒラギノ角ゴ Pro w4", Roboto, Meiryo;
  font: -apple-system-body;
  outline: none;
}
body,
input,
textarea {
  color: #000022;
  fill: #000022;
  background-color: #FFFFFF;
}
@media (prefers-color-scheme: dark) {
  body,
  input,
  textarea {
    color: #FFFFFF;
    fill: #FFFFFF;
  }
}
@media (prefers-color-scheme: dark) {
  body,
  input,
  textarea {
    background-color: #000022;
  }
}
body {
  margin: 0px;
  margin-bottom: 5rem;
  line-height: 100%;
  overflow: hidden;
  background-color: rgba(95, 66, 167, 0.95);
}
@media (prefers-color-scheme: dark) {
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
a {
  cursor: pointer;
}
@media (hover: hover) {
  a:hover {
    opacity: 1;
    color: #6F7F00;
    fill: #6F7F00;
    text-decoration: underline;
  }
  a:not(:hover) {
    text-decoration: none;
  }
}
@media (hover: none) {
  a {
    text-decoration: none;
  }
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-end: 16px;
  padding-inline-start: 40px;
}
/*# sourceMappingURL=./base.css.map */