@import "../tektite.js/style/tektite-index.scss";
.welcome-screen
{
    .logo
    {
        height: calc(50vh - 5rem);
        // margin: calc(100vw / 16);
        font-size: calc(100vw / 16);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        & > .application-icon
        {
            @include tektite-square-size-trait(calc(100vw / 6));
        }
        & > .application-icon + .logo-text
        {
            margin-left: calc(100vw / 24);
        }
        & > .logo-text
        {
            font-size: calc(100vw / 8);
            white-space: nowrap;
        }
        @media (max-height:480px)
        {
            height: 5.0rem;
            padding-top: 1rem;
            & > .application-icon
            {
                @include tektite-square-size-trait(4.0rem);
            }
            & > .application-icon + .logo-text
            {
                margin-left: 1.0rem;
            }
            & > .logo-text
            {
                font-size: 3.0rem;
                white-space: nowrap;
            }
        }
        @media (min-height:640px)
        {
            margin-bottom: 10vh;
        }
    }
}
&.tektite-style-classic
{
    .logo
    {
        & > .application-icon
        {
            .tektite-icon
            {
                @include tektite-accent-foreground-coloring-trait();
            }
        }
        & > .logo-text
        {
            @include tektite-accent-foreground-coloring-trait();
        }
    }
}
.never-stopwatch-screen,
.countdown-timer-screen,
.elapsed-timer-screen
{
    .tektite-main-panel
    {
        @include tektite-vertical-flex-trait;
        .current-item
        {
            align-items: start;
            display: flex;
            flex-direction: column;
        }
        .capital-interval
        {
            .value
            {
                font-size: 7vw;
                line-height: 100%;
                @include tektite-primary-text-font-size-trait;
            }
        }
        .previous-timestamp,
        .current-title,
        .current-due-timestamp,
        .current-timestamp
        {
            text-align: center;
            opacity: 0.5;
            .value
            {
                font-size: 4.4vw;
                line-height: 100%;
                @include tektite-second-text-font-size-trait;
            }
        }
    }
}
.rainbow-clock-screen
{
    .tektite-main-panel
    {
        @include tektite-vertical-flex-trait;
        // z-index: 100;
        .capital-time
        {
            .value
            {
                font-size: 15vw;
                line-height: 100%;
                @include tektite-primary-text-font-size-trait;
            }
        }
        .current-title,
        .current-utc-offset,
        .current-date
        {
            opacity: 0.333;
            .value
            {
                font-size: 6vw;
                line-height: 120%; // 本当は 100% にしておきたいが 100% だと Safari で日本語文字上部が表示されない。
                @include tektite-second-text-font-size-trait;
            }
        }
    }
}
.tektite-flash-interval
{
    cursor: pointer;
    @include tektite-centering-margin-trait;
    @include tektite-center-horizontal-flex-trait;
    opacity: 0.5;
    @media (hover: hover)
    {
        &:hover
        {
            opacity: 1.0;
        }
    }
    font-size: 1.2rem;
    @include tektite-children-horizontal-interval-margin-trait(0.5rem);
    .tektite-icon
    {
        @include tektite-square-size-trait(1.5rem);
    }
    padding: 0.5rem;
}
.export-screen
{
    textarea
    {
        width: 100vw;
        height: calc(100vh - (2.5rem + 10px));
    }
}
.import-screen
{
    textarea
    {
        width: 100vw;
        height: calc(100vh - (12.5rem + 10px));
    }
}
.application-form
{
    button
    {
        margin-left: calc(8em + 4px);
        width: 16em;
    }
}
.loading-spinner
{
    @include tektite-animation(loading-spinner, 0.3s);
}
@keyframes loading-spinner
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
