// out: false
@import "../tektite.js/style/tektite-index.less";

.tektite-menu-item-button
{
    display: flex;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
    flex-direction: row;
    text-align: left;
    padding: 4px 8px;
    margin: 0px;
    border-radius: 0px;
    border-style: none;
    border-width: 0px;
}
.item-title
{
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.4em;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1.4em;
    margin-right: -120px;
    svg
    {
        width: 1.4em;
        min-width: 1.4em;
        height: 1.4em;
        min-height: 1.4em;
        margin-right: 4px;
    }
    .tektite-positive-foreground-coloring-trait;
}
.stamp-item,
.alarm-item,
.timezone-item
{
    position: relative;
    // padding: 0.5rem;
    //min-width: calc((100vw / 8) + 1px);
    //width: 480px;
    //max-width: 100vw;

    .item-header
    {
        // position: sticky;
        // top: 0px;
        // z-index: 100;
        // .tektite-positive-background-coloring-trait;
        display: flex;
        padding: 0.5rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .item-title
        {
            max-width: calc(100% - 180px);
        }
    }
    .item-information
    {
        background-color: #8884;
        padding: 0.5rem;
        margin: 0px;
        *
        {
            line-height: 1.4em;
        }
        .label
        {
            font-size: 1.0rem;
            opacity: 0.4;
            margin-right: -50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: calc(100% - 180px);
            &::after
            {
                content: ":";
            }
        }
        .value
        {
            font-size: 1.0rem;
            opacity: 0.4;
            float: right;
        }
    }
}
.timezone-item
{
    .item-panel
    {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 0;
        .item-panel-body
        {
            .tektite-negative-foreground-coloring-trait;
            position: relative;
            z-index: 20;
            padding: 1rem;
            .item-utc-offset .value
            {
                opacity: 0.666;
                font-size: 1rem;
                line-height: 140%;
            }
            .item-date .value
            {
                opacity: 0.666;
                font-size: 1rem;
                line-height: 140%;
            }
            .item-time .value
            {
                font-size: 2rem;
                line-height: 140%;
            }
        }
        .item-time-bar
        {
            position: absolute;
            // background-color: @tektite-progress-bar-color;
            left: 0px;
            top: 0px;
            height: 100%;
            border-width: 0px;
            border-style: solid;
            border-color: #0005;
            box-sizing: border-box;
            border-right-width: 1px;
            z-index: 10;
        }
    }
}
.item-operator
{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    button
    {
        display: inline-block;
        margin: 0px;
    }
    button+button
    {
        margin-left: 4px;
    }
}
.welcome-screen
{
    .logo
    {
        height: calc(50vh - 5rem);
        // margin: calc(100vw / 16);
        font-size: calc(100vw / 16);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        & > .application-icon
        {
            width: calc(100vw / 6);
            height: calc(100vw / 6);
        }
        & > .application-icon + .logo-text
        {
            margin-left: calc(100vw / 24);
        }
        & > .logo-text
        {
            font-size: calc(100vw / 8);
            white-space: nowrap;
        }
        @media (max-height:480px)
        {
            height: 5.0rem;
            padding-top: 1rem;
            & > .application-icon
            {
                width: 4.0rem;
                height: 4.0rem;
            }
            & > .application-icon + .logo-text
            {
                margin-left: 1.0rem;
            }
            & > .logo-text
            {
                font-size: 3.0rem;
                white-space: nowrap;
            }
        }
        @media (min-height:640px)
        {
            margin-bottom: 10vh;
        }
    }
    .tektite-button-list
    {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        a
        {
            //  .tektite-long-button との調整
            width: 100%;
            max-width: calc(640px + (2rem + 2px));
            margin: 0.5rem 1rem;
            .tektite-long-button
            {
                margin: 0px;
            }
        }
    }
}
&.tektite-style-classic
{
    .logo
    {
        & > .application-icon
        {
            svg
            {
                color: @tektite-accent-color;
                fill: @tektite-accent-color;
            }
        }
        & > .logo-text
        {
            color: @tektite-accent-color;
            // グラデーション
            // background: -webkit-linear-gradient(top, #28D928, #136E13);
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            // line-height: 1.4em;
        }
    }
}
.never-stopwatch-screen,
.countdown-timer-screen,
.elapsed-timer-screen
{
    .tektite-screen-body
    {
        .current-item
        {
            align-items: start;
            display: flex;
            flex-direction: column;
        }
        .capital-interval
        {
            // text-align: center;
            // padding-top: 16px;
            .value
            {
                font-size: 7vw;
                line-height: 100%;
                .tektite-primary-text-font-size-trait;
            }
        }
        .previous-timestamp,
        .current-title,
        .current-due-timestamp,
        .current-timestamp
        {
            text-align: center;
            // padding-top: 8px;
            opacity: 0.5;
            .value
            {
                font-size: 4.4vw;
                line-height: 100%;
                .tektite-second-text-font-size-trait;
            }
        }
    }
}
.rainbow-clock-screen
{
    // header
    // {
    //     // z-index: 300;
    //     background-color: transparent;
    // }
    .tektite-screen-body
    {
        .tektite-main-panel
        {
            // z-index: 100;
            .capital-time
            {
                // text-align: center;
                // padding-bottom: 16px;
                .value
                {
                    font-size: 15vw;
                    line-height: 100%;
                    .tektite-primary-text-font-size-trait;
                }
            }
            .current-title,
            .current-utc-offset,
            .current-date
            {
                opacity: 0.333;
                // text-align: center;
                // padding-bottom: 16px;
                .value
                {
                    font-size: 6vw;
                    line-height: 120%; // 本当は 100% にしておきたいが 100% だと Safari で日本語文字上部が表示されない。
                    .tektite-second-text-font-size-trait;
                }
            }
        }
    }
}
.export-screen
{
    textarea
    {
        width: 100vw;
        height: calc(100vh - (2.5rem + 10px));
    }
}
.import-screen
{
    textarea
    {
        width: 100vw;
        height: calc(100vh - (12.5rem + 10px));
    }
}
.application-form
{
    button
    {
        margin-left: calc(8em + 4px);
        width: 16em;
    }
}
.loading-spinner
{
    animation-name: loading-spinner;
    animation-direction: normal;
    animation-delay: 0s;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
@keyframes loading-spinner
{
    0%
    {
        transform: rotate(0deg);
    }
    // 10%
    // {
    //     transform: rotate(360deg);
    // }
    100%
    {
        transform: rotate(360deg);
    }
}
