// out: false
// @tektite-main-color: #000022;
// @tektite-base-color: #FFFFFF;
@tektite-accent-color: #5F42A7;
@tektite-active-color: #51A94E;
@tektite-delete-color: #831B50;
// @dark-main-color: @tektite-base-color;
// @dark-base-color: @tektite-main-color;
@tektite-progress-bar-color:#1079C0;
@tektite-white-flash-color: rgba(255,255,255,0.8);
@tektite-screen-cover-color: #0000009D;
