// out: false
// @main-color: #000022;
// @base-color: #FFFFFF;
@accent-color: #5F42A7;
@active-color: #51A94E;
@delete-color: #831B50;
// @dark-main-color: @base-color;
// @dark-base-color: @main-color;
@progress-bar-color:#1079C0;
@white-flash-color: rgba(255,255,255,0.8);
@screen-cover-color: #0000009D;
