$tektite-accent-color: #5F42A7;
$tektite-active-color: #51A94E;
$tektite-delete-color: #831B50;
$tektite-progress-bar-color:#1079C0;
$tektite-white-flash-color: rgba(255,255,255,0.8);
$tektite-glass-foreground-color: #FFFFFF;
$tektite-glass-delete-color: #C2001C;
$tektite-screen-cover-color: #00000088;
$tektite-weak-color: #888888;
