// @import "params.less";
.tektite-dark-trait
{
    ::-webkit-calendar-picker-indicator
    {
        filter: invert(1);
    }
}
.tektite-light-trait
{
    // ::-webkit-calendar-picker-indicator
    // {
    //     filter: invert(1);
    // }
}
.clickable-trait
{
    cursor: pointer;
}
.link-trait
{
    .clickable-trait;
    @media (hover: hover)
    {
        &:hover
        {
            opacity: 1.0;
            color: @active-color;
            fill: @active-color;
            text-decoration: underline;
        }
        &:not(:hover)
        {
            text-decoration: none;
        }
    }
    @media (hover: none)
    {
        text-decoration: none;
    }
}
.monospace-trait
{
    font-family: monospace;
}
.positive-foreground-coloring-trait
{
    color: @main-color;
    fill: @main-color;
}
.positive-background-coloring-trait
{
    background-color: @base-color;
}
.alpha-positive-background-coloring-trait
{
    background-color: e(%("%s%s", @base-color, "DD"));
}
.negative-foreground-coloring-trait
{
    color: @base-color;
    fill: @base-color;
}
.primary-operator-coloring-trait
{
    .clickable-trait;
    .negative-foreground-coloring-trait;
    @media (hover: hover)
    {
        &:not(:hover)
        {
            border-color: @accent-color;
            background-color: @accent-color;
        }
        &:hover
        {
            border-color: @active-color;
            background-color: @active-color;
        }
    }
    @media (hover: none)
    {
        &
        {
            border-color: @accent-color;
            background-color: @accent-color;
        }
    }
}
.secondary-operator-coloring-trait
{
    .clickable-trait;
    @media (hover: hover)
    {
        &:not(:hover)
        {
            color: @accent-color;
            fill: @accent-color;
            border-color: @accent-color;
            .positive-background-coloring-trait;
        }
        &:hover
        {
            .negative-foreground-coloring-trait;
            border-color: @active-color;
            background-color: @active-color;
        }
    }
    @media (hover: none)
    {
        &
        {
            color: @accent-color;
            fill: @accent-color;
            border-color: @accent-color;
            .positive-background-coloring-trait;
        }
    }
}
.tertiary-operator-coloring-trait
{
    .clickable-trait;
    @media (hover: hover)
    {
        &:hover
        {
            color: @active-color;
            fill: @active-color;
        }
    }
}
.delete-operator-coloring-trait
{
    .clickable-trait;
    @media (hover: hover)
    {
        &:not(:hover)
        {
            color: @delete-color;
            fill: @delete-color;
            border-color: @delete-color;
            .positive-background-coloring-trait;
        }
        &:hover
        {
            .negative-foreground-coloring-trait;
            border-color: @delete-color;
            background-color: @delete-color;
        }
    }
    @media (hover: none)
    {
        &
        {
            color: @delete-color;
            fill: @delete-color;
            border-color: @delete-color;
            .positive-background-coloring-trait;
        }
    }
}
.hide-scroll-bar
{
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar
    {
        display: none;
    }
}
.primary-text-font-size-core-trait
{
    font-size: calc((100vh - 6rem) * 0.2);
}
.primary-text-font-size-trait
{
    @media (max-height: 7680px) and (min-width: 11520px)
    {
        .primary-text-font-size-core-trait;
    }
    @media (max-height: 5760px) and (min-width: 7680px)
    {
        .primary-text-font-size-core-trait;
    }
    @media (max-height: 3840px) and (min-width: 5760px)
    {
        .primary-text-font-size-core-trait;
    }
    @media (max-height: 2880px) and (min-width: 3840px)
    {
        .primary-text-font-size-core-trait;
    }
    @media (max-height: 1920px) and (min-width: 2880px)
    {
        .primary-text-font-size-core-trait;
    }
    @media (max-height: 1440px) and (min-width: 1920px)
    {
        .primary-text-font-size-core-trait;
    }
    @media (max-height: 960px) and (min-width: 1440px)
    {
        .primary-text-font-size-core-trait;
    }
    @media (max-height: 720px) and (min-width: 960px)
    {
        .primary-text-font-size-core-trait;
    }
    @media (max-height: 480px) and (min-width: 720px)
    {
        .primary-text-font-size-core-trait;
    }
    @media (max-height: 480px) and (min-width: 480px)
    {
        font-size: 4rem;
    }
    @media (max-height: 360px) and (min-width: 360px)
    {
        font-size: 3rem;
    }
    @media (max-height: 240px) and (min-width: 240px)
    {
        font-size: 2rem;
    }
}
.second-text-font-size-core-trait
{
    font-size: calc((100vh - 6rem) * 0.1);
}
.second-text-font-size-trait
{
    @media (max-height: 7680px) and (min-width: 11520px)
    {
        .second-text-font-size-core-trait;
    }
    @media (max-height: 5760px) and (min-width: 7680px)
    {
        .second-text-font-size-core-trait;
    }
    @media (max-height: 3840px) and (min-width: 5760px)
    {
        .second-text-font-size-core-trait;
    }
    @media (max-height: 2880px) and (min-width: 3840px)
    {
        .second-text-font-size-core-trait;
    }
    @media (max-height: 1920px) and (min-width: 2880px)
    {
        .second-text-font-size-core-trait;
    }
    @media (max-height: 1440px) and (min-width: 1920px)
    {
        .second-text-font-size-core-trait;
    }
    @media (max-height: 960px) and (min-width: 1440px)
    {
        .second-text-font-size-core-trait;
    }
    @media (max-height: 720px) and (min-width: 960px)
    {
        .second-text-font-size-core-trait;
    }
    @media (max-height: 480px) and (min-width: 720px)
    {
        .second-text-font-size-core-trait;
    }
    @media (max-height: 480px) and (min-width: 480px)
    {
        font-size: 2rem;
    }
    @media (max-height: 360px) and (min-width: 360px)
    {
        font-size: 1.5rem;
    }
    @media (max-height: 240px) and (min-width: 240px)
    {
        font-size: 1rem;
    }
}
