// out: false
// @import "params.less";
.tektite-dark-trait
{
    ::-webkit-calendar-picker-indicator
    {
        filter: invert(1);
    }
}
.tektite-light-trait
{
    .tektite-dummy-class { display: inherit; } // to avoid warnings
    // ::-webkit-calendar-picker-indicator
    // {
    //     filter: invert(1);
    // }
}
.tektite-clickable-trait
{
    cursor: pointer;
}
.tektite-link-trait
{
    .tektite-clickable-trait;
    @media (hover: hover)
    {
        &:hover
        {
            opacity: 1.0;
            color: @active-color;
            fill: @active-color;
            text-decoration: underline;
        }
        &:not(:hover)
        {
            text-decoration: none;
        }
    }
    @media (hover: none)
    {
        text-decoration: none;
    }
}
.tektite-monospace-trait
{
    font-family: monospace;
}
.tektite-positive-foreground-coloring-trait
{
    color: @main-color;
    fill: @main-color;
}
.tektite-positive-background-coloring-trait
{
    background-color: @base-color;
}
.tektite-alpha-positive-background-coloring-trait
{
    background-color: e(%("%s%s", @base-color, "DD"));
}
.tektite-negative-foreground-coloring-trait
{
    color: @base-color;
    fill: @base-color;
}
.tektite-primary-operator-coloring-trait
{
    .tektite-clickable-trait;
    .tektite-negative-foreground-coloring-trait;
    @media (hover: hover)
    {
        &:not(:hover)
        {
            border-color: @accent-color;
            background-color: @accent-color;
        }
        &:hover
        {
            border-color: @active-color;
            background-color: @active-color;
        }
    }
    @media (hover: none)
    {
        &
        {
            border-color: @accent-color;
            background-color: @accent-color;
        }
    }
}
.tektite-secondary-operator-coloring-trait
{
    .tektite-clickable-trait;
    @media (hover: hover)
    {
        &:not(:hover)
        {
            color: @accent-color;
            fill: @accent-color;
            border-color: @accent-color;
            .tektite-positive-background-coloring-trait;
        }
        &:hover
        {
            .tektite-negative-foreground-coloring-trait;
            border-color: @active-color;
            background-color: @active-color;
        }
    }
    @media (hover: none)
    {
        &
        {
            color: @accent-color;
            fill: @accent-color;
            border-color: @accent-color;
            .tektite-positive-background-coloring-trait;
        }
    }
}
.tektite-tertiary-operator-coloring-trait
{
    .tektite-clickable-trait;
    @media (hover: hover)
    {
        &:hover
        {
            color: @active-color;
            fill: @active-color;
        }
    }
}
.tektite-delete-operator-coloring-trait
{
    .tektite-clickable-trait;
    @media (hover: hover)
    {
        &:not(:hover)
        {
            color: @delete-color;
            fill: @delete-color;
            border-color: @delete-color;
            .tektite-positive-background-coloring-trait;
        }
        &:hover
        {
            .tektite-negative-foreground-coloring-trait;
            border-color: @delete-color;
            background-color: @delete-color;
        }
    }
    @media (hover: none)
    {
        &
        {
            color: @delete-color;
            fill: @delete-color;
            border-color: @delete-color;
            .tektite-positive-background-coloring-trait;
        }
    }
}
.tektite-hide-scroll-bar
{
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar
    {
        display: none;
    }
}
.tektite-primary-text-font-size-core-trait
{
    font-size: calc((100vh - 6rem) * 0.2);
}
.tektite-primary-text-font-size-trait
{
    @media (max-height: 7680px) and (min-width: 11520px)
    {
        .tektite-primary-text-font-size-core-trait;
    }
    @media (max-height: 5760px) and (min-width: 7680px)
    {
        .tektite-primary-text-font-size-core-trait;
    }
    @media (max-height: 3840px) and (min-width: 5760px)
    {
        .tektite-primary-text-font-size-core-trait;
    }
    @media (max-height: 2880px) and (min-width: 3840px)
    {
        .tektite-primary-text-font-size-core-trait;
    }
    @media (max-height: 1920px) and (min-width: 2880px)
    {
        .tektite-primary-text-font-size-core-trait;
    }
    @media (max-height: 1440px) and (min-width: 1920px)
    {
        .tektite-primary-text-font-size-core-trait;
    }
    @media (max-height: 960px) and (min-width: 1440px)
    {
        .tektite-primary-text-font-size-core-trait;
    }
    @media (max-height: 720px) and (min-width: 960px)
    {
        .tektite-primary-text-font-size-core-trait;
    }
    @media (max-height: 480px) and (min-width: 720px)
    {
        .tektite-primary-text-font-size-core-trait;
    }
    @media (max-height: 480px) and (min-width: 480px)
    {
        font-size: 4rem;
    }
    @media (max-height: 360px) and (min-width: 360px)
    {
        font-size: 3rem;
    }
    @media (max-height: 240px) and (min-width: 240px)
    {
        font-size: 2rem;
    }
}
.tektite-second-text-font-size-core-trait
{
    font-size: calc((100vh - 6rem) * 0.1);
}
.tektite-second-text-font-size-trait
{
    @media (max-height: 7680px) and (min-width: 11520px)
    {
        .tektite-second-text-font-size-core-trait;
    }
    @media (max-height: 5760px) and (min-width: 7680px)
    {
        .tektite-second-text-font-size-core-trait;
    }
    @media (max-height: 3840px) and (min-width: 5760px)
    {
        .tektite-second-text-font-size-core-trait;
    }
    @media (max-height: 2880px) and (min-width: 3840px)
    {
        .tektite-second-text-font-size-core-trait;
    }
    @media (max-height: 1920px) and (min-width: 2880px)
    {
        .tektite-second-text-font-size-core-trait;
    }
    @media (max-height: 1440px) and (min-width: 1920px)
    {
        .tektite-second-text-font-size-core-trait;
    }
    @media (max-height: 960px) and (min-width: 1440px)
    {
        .tektite-second-text-font-size-core-trait;
    }
    @media (max-height: 720px) and (min-width: 960px)
    {
        .tektite-second-text-font-size-core-trait;
    }
    @media (max-height: 480px) and (min-width: 720px)
    {
        .tektite-second-text-font-size-core-trait;
    }
    @media (max-height: 480px) and (min-width: 480px)
    {
        font-size: 2rem;
    }
    @media (max-height: 360px) and (min-width: 360px)
    {
        font-size: 1.5rem;
    }
    @media (max-height: 240px) and (min-width: 240px)
    {
        font-size: 1rem;
    }
}
