// out: false
@import "tektite-traits.less";
*
{
    font-family: ui-sans-serif, "ヒラギノ角ゴ Pro w4", Roboto, Meiryo;
    font: -apple-system-body;
    outline:none;
}
input, select, textarea
{
    .tektite-positive-foreground-coloring-trait;
    .tektite-positive-background-coloring-trait;
}
&
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 0px;
    // margin-bottom: 5rem; // for iOS Safari
    line-height: 100%;
    overflow: hidden;
    .tektite-positive-foreground-coloring-trait;
    background-color: fade(@tektite-accent-color, 95%);
}
// @media (prefers-color-scheme: dark)
// {
//     ::-webkit-calendar-picker-indicator
//     {
//         filter: invert(1);
//     }
// }
a
{
    color: @tektite-accent-color;
    .tektite-link-trait;
}
ul
{
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 1em;
    padding-block-end: 1em;
    padding-inline-end: 16px;
    padding-inline-start: 40px;
}
h2
{
    padding: 0.25rem 0.5rem;
    font-size: 1.0rem;
}
h1, h2
{
    margin: 0rem;
    .tektite-negative-foreground-coloring-trait;
    background-color: @tektite-accent-color;
    text-decoration: none;
}
label
{
    cursor: pointer;
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // align-items: stretch;
    @media (hover: hover)
    {
        &:hover
        {
            color: @tektite-active-color;
        }
    }
}
input,
select
{
    margin: 4px;
    padding: 4px 16px;
    border-radius: 32px;
    border-style: solid;
    border-width: 1px;
    border-color: #888;
    font-size: 1.0rem;
    min-width: 120px;
}
button
{
    &.tektite-main-button,
    &.tektite-default-button,
    &.tektite-icon-button,
    &.tektite-menu-button,
    &.tektite-menu-item-button,
    &.tektite-check-button,
    &.tektite-delete-button
    {
        .tektite-button-trait;
    }
    &.tektite-default-button
    {
        .tektite-primary-operator-coloring-trait;
    }
    &.tektite-icon-button,
    &.tektite-menu-button
    {
        @media (hover: hover)
        {
            &:not(:hover)
            {
                background-color: transparent;
                border-color: transparent;
            }
        }
        @media (hover: none)
        {
            &
            {
                background-color: transparent;
                border-color: transparent;
            }
        }
    
        padding: 4px;
        svg
        {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    &.tektite-delete-button
    {
        .tektite-delete-operator-coloring-trait;
    }
}
.tektite-hide
{
    display: none;
}
.tektite-monospace
{
    .tektite-monospace-trait;
}
.tektite-locale-parallel-on
{
    .locale-map
    {
        display: none;
    }
    .locale-parallel
    {
        display: initial;
    }
}
.tektite-locale-parallel-off,
.tektite-menu-popup
{
    .locale-map
    {
        display: initial;
    }
    .locale-parallel
    {
        display: none;
    }
}
.tektite-text-button
{
    .tektite-link-trait;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    background-color: transparent !important;
    text-decoration: none !important;
}
.tektite-long-button
{
    position: relative;
    margin: 0.5rem 1rem;
    width: calc(100% - (2rem + 2px));
    max-width: 640px;
    float: center;
}
.tektite-menu-popup
{
    &:not(.show)
    {
        display: none;
    }
    position: absolute;
    top: calc(10px + 1.5rem);
    right: 0.0rem;
    z-index: 99999;
}
.tektite-menu-popup,
.bare-popup
{
    max-height: calc(100vh - 15rem);
    overflow: hidden;
    overflow-y: auto;
    &, & > a
    {
        display: flex;
        // flex-wrap: wrap;
        align-items: stretch;
        justify-content: stretch;
        flex-direction: column;
    }
    color: @tektite-accent-color;
    .tektite-alpha-positive-background-coloring-trait;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    a, button
    {
        .tektite-horizontal-flex-trait;
        .tektite-straight-flex-trait;
        border-radius: 0px;
        margin: 0px !important;
        border-style: none;
        border-width: 0px;
        font-size: 1.2rem;
        text-align: left;
        text-decoration: none;
        svg
        {
            width: 1.5rem;
            height: 1.5rem;
            margin-left: -0.25rem;
            margin-right: 0.5rem;
        }
        &.current-item
        {
            .tektite-primary-operator-coloring-trait;
        }
        &:not(.current-item)
        {
            @media (hover: hover)
            {
                &:not(:hover)
                {
                    background-color: transparent;
                }
            }
            @media (hover: none)
            {
                background-color: transparent;
            }
        }
        & > .label + .value
        {
            margin-left: 0.5rem;
            text-align: right;
            flex-grow: 1;
        }
        &:not(.current-item):not(:hover)
        {
            & > .label + .value
            {
                color: #888;
            }
        }
    }
    a button
    {
        width: 100%;
    }
}
