// out: false
#tektite-foundation
{
    .tektite-positive-background-coloring-trait;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
#tektite-screen-toast
{
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    filter: drop-shadow(0.0rem -0rem 3rem @tektite-accent-color); // #tektite-screen-toast 自体の大きさに依存するので、意識的に表示やアニメーションを施す必要がない。
    .tektite-alpha-positive-background-coloring-trait;
    .item
    {
        border-top-color: @tektite-accent-color;
        border-top-width: 1px;
        border-top-style: solid;
        padding: 2rem 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        & > button:first-child,
        & > div:first-child,
        & > span:first-child
        {
            min-width: calc(100% / 4);
            max-width: calc(100% / 4);
            text-align: left;
        }
        & > button:not(:first-child):not(:last-child),
        & > div:not(:first-child):not(:last-child),
        & > span:not(:first-child):not(:last-child)
        {
            min-width: calc(100% / 2);
            max-width: calc(100% / 2);
            text-align: center;
        }
        & > button:last-child,
        & > div:last-child,
        & > span:last-child
        {
            min-width: calc(100% / 4);
            max-width: calc(100% / 4);
            text-align: right;
        }
    }
}
.tektite-screen-cover
{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: @tektite-screen-cover-color;
    z-index: 88888;
    &.tektite-fade-in
    {
        animation-name: tektite-fade-in;
    }
    &.tektite-fade-out
    {
        animation-name: tektite-fade-out;
    }
    animation-direction: normal;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
&.tektite-fxxking-ipad-fullscreen
{
    .tektite-screen
    {
        // padding-top: env(safe-area-inset-top, 0px); // do not work safe-area-inset-top on iPad safari fullscreen mode.
        padding-top: 21px;
    }
}
.tektite-screen
{
    .tektite-positive-foreground-coloring-trait;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 0;
    background-color: transparent;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    max-width: 100vw;
    max-height: 100vh;
    & > :not(.tektite-screen-body)
    {
        flex-shrink: 0;
    }
    & > header
    {
        // &.with-screen-prgress
        // {
        //     background-color: e(%("%s%s", @tektite-main-color, "11"));
        // }
        padding: 0rem;
        font-size: 1.2rem;
        font-weight: normal;
        max-width: 100vw;
        overflow-x: hidden;
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &.tektite-segmented
        {
            white-space: nowrap;
            justify-content: start;
        }
        align-items: center;
        .tektite-icon
        {
            display: inline-block;
            svg
            {
                width: 2.0rem;
                height: 2.0rem;
            }
            padding: 0.25rem;
            // margin-right: 0.25rem;
        }
        .tektite-segment
        {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            font-size: 1.2rem;
            padding-right: 1.25rem;
            overflow-x: hidden;
            transform: skewX(150deg);
            & > *
            {
                transform: skewX(-150deg);
            }
            text-decoration: none;
            min-width: 2.25rem;
            &:first-child
            {
                min-width: 2.75rem;
            }
            &.tektite-label-segment
            {
                cursor: default;
                .tektite-negative-foreground-coloring-trait;
                background-color: @tektite-accent-color;
            }
            &:not(.tektite-label-segment)
            {
                .tektite-primary-operator-coloring-trait;
            }
            &.tektite-fill-header-segment
            {
                flex-grow: 1;
                margin-right: -3rem;
            }
            &:not(:hover)
            {
                background-color: transparent !important;
            }
        }
        .tektite-segment:first-child,
        .tektite-progress-bar + .tektite-segment
        {
            padding-left: 1.25rem;
            margin-left: -0.75rem;
        }
        .tektite-segment + .tektite-segment,
        .tektite-segment +.tektite-menu-popup + .tektite-segment
        {
            padding-left: 0.5rem;
            margin-left: 0rem;
            border-left-style: solid;
            border-left-width: 1px;
            border-left-color: @tektite-base-color !important;
            .tektite-icon
            {
                padding: 0.5rem 0.25rem;
                svg
                {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
        .tektite-segment +.tektite-menu-popup
        {
            white-space: nowrap;
        }
        @media (max-width:780px)
        {
            .tektite-segment:not(.tektite-last-segment)
            {
                padding-right: 0.5rem;
                .tektite-segment-title
                {
                    display: none;
                }
            }
        }
        button.tektite-icon-button,
        button.tektite-menu-button
        {
            margin: 0px;
            margin-right: 0.25rem;
            .tektite-primary-operator-coloring-trait;
            border-color: transparent !important;
            right: 0.25rem;
            position: absolute;
            &:not(:hover)
            {
                background-color: transparent !important;
            }
        }
        button.tektite-icon-button + button.tektite-menu-button
        {
            right: 2.50rem;
        }
        .tektite-menu-popup:not(.tektite-segment-popup)
        {
            top: calc(10px + 2.0rem);
            right: 0.5rem;
        }
        .tektite-header-operator
        {
            flex-grow: 1;
            margin-right: 5.25rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            z-index: 1000;
        }
        .tektite-progress-bar
        {
            position: absolute;
            background-color: @tektite-progress-bar-color;
            left: 0px;
            top: 0px;
            height: 2.5rem;
            border-width: 0px;
            border-style: solid;
            border-color: #0005;
            box-sizing: border-box;
            border-right-width: 1px;
        }
        &.update
        {
            .tektite-progress-bar
            {
                animation-name: update-progress;
                animation-direction: normal;
                animation-delay: 0s;
                animation-duration: 1.0s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: both;
            }
        }
        &.max-progress
        {
            .tektite-progress-bar
            {
                width: 100vw;
            }
        }
        &.obsolescence
        {
            .tektite-progress-bar
            {
                left: initial;
                right: 0px;
                background-color: #888;
                animation-name: update-progress;
                animation-direction: normal;
                animation-delay: 0s;
                animation-duration: 3600.0s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: both;
            }
        }
    }
    & > .tektite-screen-body
    {
        overflow-x: hidden;
        overflow-y: auto;
        flex-grow: 1;

        .tektite-hide-scroll-bar;
        .tektite-primary-page
        {
            box-sizing: border-box;
            width: 100%;
            height: calc(100vh - 2.5rem);
            max-height: calc(100vh - 2.5rem);
            position: relative;
            display: flex;
            align-items: stretch;
            justify-content: stretch;
            flex-direction: column;
            // .tektite-negative-foreground-coloring-trait;
            // padding-bottom: 2.5rem;
            // .default-button
            // {
            //     border-color: @tektite-base-color;
            //     background-color: transparent;
            // }
            .flash-interval
            {
                cursor: pointer;
                // position: absolute;
                // top: 0px;
                // right: 0px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                opacity: 0.5;
                @media (hover: hover)
                {
                    &:hover
                    {
                        opacity: 1.0;
                    }
                }
                font-size: 1.2rem;
                svg
                {
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-right: 0.25rem;
                }
                padding: 0.5rem;
            }
            .page-body
            {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                flex-grow: 9;
            }
            .page-footer
            {
                flex-grow: 0;
                // position: absolute;
                // left: 0px;
                // right: 0px;
                // bottom: 0px;
                padding-bottom: 0.5rem; // コードで調整するのでこの値に意味はない。
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                .down-page-link
                {
                    cursor: pointer;
                    // position: absolute;
                    // left: calc(50vw - 1.25rem);
                    // bottom: 1rem; // コードで調整するのでこの値に意味はない。
                    &.icon
                    {
                        opacity: 0.2;
                        width: 2.0rem;
                        height: 2.0rem;
                        @media (hover: hover)
                        {
                            &:hover
                            {
                                opacity: 1.0;
                            }
                        }
                    }
                    &:not(.reverse-down-page-link).icon
                    {
                        transform: scale(1, -1);
                    }
                }
            }
        }
    }
    .tektite-screen-bar
    {
        z-index: -10;
        position: fixed;
        border-width: 0px;
        border-style: solid;
        border-color: #0008;
        box-sizing: border-box;
        &.horizontal
        {
            top: 0px;
            bottom: 0px;
            left: 0px;
            border-right-width: 1px;
        }
        &.vertical
        {
            top: 0px;
            left: 0px;
            right: 0px;
            border-bottom-width: 1px;
        }
        overflow: hidden;
    }
}
&.tektite-style-modern
{
    .tektite-screen
    {
        header
        {
            background-color: e(%("%s%s", @tektite-main-color, "11"));
            .tektite-segment:not(.tektite-label-segment)
            {
                @media (hover: hover)
                {
                    &:hover
                    {
                        background-color: e(%("%s%s", @tektite-base-color, "11"));
                    }
                }
            }
            & > button
            {
                @media (hover: hover)
                {
                    &:hover
                    {
                        background-color: e(%("%s%s", @tektite-base-color, "22"));
                    }
                }
            }
        }
        .tektite-screen-body
        {
            .tektite-hide-scroll-bar;
            .tektite-primary-page
            {
                .tektite-negative-foreground-coloring-trait;
                button
                {
                    color: @tektite-base-color;
                    border-color: @tektite-base-color;
                    background-color: transparent;
                    @media (hover: hover)
                    {
                        &:hover
                        {
                            background-color: e(%("%s%s", @tektite-base-color, "11"));
                        }
                    }
                    &:not(.default-button)
                    {
                        border-color: e(%("%s%s", @tektite-base-color, "88"));
                        // opacity: 0.5;
                        @media (hover: hover)
                        {
                            &:hover
                            {
                                border-color: @tektite-base-color;
                                // opacity: 1.0;
                            }
                        }
                    }
                }
            }
            .tektite-trail-page
            {
                background-color: e(%("%s%s", @tektite-base-color, "BB"));
            }
        }
    }
    &.flash
    {
        .tektite-screen-bar
        {
            .tektite-screen-bar-flash-layer
            {
                position: fixed;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                animation-name: white-flash;
                animation-direction: normal;
                animation-delay: 0s;
                animation-duration: 1.5s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: both;
            }
        }

    }
}
